{% extends "default.html.twig" %}

{% block body %}
       
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('http://localhost/blog-php/public/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ post.titre }}</h1>
                        <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
                        <span class="meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on August 24, 2022
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section style="background-color: #ad655f;">
          <hr class="my-0" />
<div class="container">
<h1>CREER UN COMMENTAIRE</h1>

<form action="" method ="POST">
    <div class="form-group">
    <br>
    <div class="form-group">
        <label for="content" >contenu du Commentaire</label>
        <textarea name="content" id="content"  rows="8" class="form-control">
        </textarea>
    </div>
    <br>
    <br><br>
    <button type="submit" name="submit" class="btn btn-primary">Enregistrer</button>
</form>
</div>

</section>

{% endblock %}

