{% extends "default.html.twig" %}

{% block body %}
       
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('http://localhost/blog-php/public/img/post-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                    </div>
                </div>
            </div>
        </div>
    </header>

  <div class="container my-5 py-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-12 col-lg-10">
        <div class="card text-dark">
          <div class="card-body p-4">
            <h4 class="mb-0">Recent comments</h4>
            <hr>
            <div class="d-flex flex-start">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(23).webp" alt="avatar" width="60"
                height="60" />
              <div>
                <h6 class="fw-bold mb-1">{{comment.id_user}}</h6>
                <div class="d-flex align-items-center mb-3">
                  <p class="mb-0">
                    {{comment.date}}
                  </p>
                </div>
                <p class="mb-0">
                  {{comment.content}}
                </p>
              </div>
            </div>
          </div>
          <hr class="my-0" />
        </div>
      </div>
    </div>
  </div>
    <hr>
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button type="submit" name="submit" class="btn btn-outline-success btn-sm" href="updateCom/{{comment.id}}">Valider</button>
      <a class="btn btn-outline-secondary btn-sm" href="/comments/index">Retour</a>
    </div>   
    <br>                                     

{% endblock %}

