
{% extends "default.html.twig" %}

{% block body %}

<br><br>
    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form action="" method ="POST">

                                <div class="form-group">
                                    <label for="firstname" >Firstname </label>
                                    <input type="text" class="form-control" id="firstname" name="firstname" placeholder=
                                    "Firstname">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="lastname" >Lastname</label>
                                    <input type="text" class="form-control" id="lastname" name="lastname" placeholder=
                                    "Lastname">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="email" >Email</label>
                                    <input type="text" class="form-control" id="email" name="email" placeholder=
                                    "Email">
                                </div>
                                <br>
                                <div class="form-group">
                                    <label for="password" >Password</label>
                                    <input type="text" class="form-control" id="password" name="password" placeholder=
                                    "password">
                                </div>
                                <br>
                                <br><br>
                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <button type="submit" name="submit" class="btn btn-outline-success btn-sm">Enregistrer</button>
                                </div>                                        
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}