{% extends "default.html.twig" %}

{% block body %}
    
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('http://localhost/blog-php/public/img/about-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>All Post</h1>
                        <span class="subheading"></span>
                    </div>
                </div>
            </div>
        </div>
    </header>


        <!-- Main Content-->
    <div class="container">
        <div class="row">
        {% for post in posts %}
            <div class="post-preview col-lg-6 col-md-6 ">
                    <a href="posts/show/{{post.id}}"> 
                    <h2 class="post-title">{{ post.titre }}</h2>
                    <h3 class="post-subtitle">{{ post.chapo }}</h3>
                </a>
                <p class="post-meta">
                    Posted by
                    <a href="#!">Start Bootstrap</a>
                    on September 24, 2022
                </p>
            </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}