
{% extends "default.html.twig" %}

{% block body %}
<br><br>
<br>
<div class="container">
<br>
<h1>CREER UN POST</h1>
<br>    
{% if error != "" %}                                       
<div class="error">
    <div class="close" onclick="this.parentElement.remove()">X</div>
    {{error}}
</div> 
{% endif %}   
{% if message != "" %}                                       
<div class="success">
    <div class="close" onclick="this.parentElement.remove()">X</div>
    {{message}}
</div>
{% endif %}
<form action="" method ="POST">
    <div class="form-group">
        <label for="titre" >Titre du post</label>
        <input required type="text" class="form-control" id="titre" name="titre" placeholder=
        "Le titre du post">
    </div>
    <br>
    <div class="form-group">
        <label for="chapo" >Chapô</label>
        <input required type="text" class="form-control" id="chapo" name="chapo" placeholder=
        "Le chapo">
    </div>
    <br>
    <div class="form-group">
        <label for="contenu" >Contenu du post</label>
        <textarea required name="contenu" id="contenu"  rows="8" class="form-control" placeholder=
        "contenu du post">
        </textarea>
    </div>
    <br><hr>
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
    <button type="submit" name="submit" class="btn btn-outline-success btn-sm">Enregistrer</button>
    </div>   
    <br>                                     
</form>
</div>
{% endblock %}