
{% extends "default.html.twig" %}

{% block body %}


<div class="container">
<h1>CREER UN POST</h1>

<form action="" method ="POST">
    <div class="form-group">
        <label for="titre" >Titre du post</label>
        <input type="text" class="form-control" id="titre" name="titre" placeholder=
        "Le titre du post">
    </div>
    <br>
    <div class="form-group">
        <label for="chapo" >Chapô</label>
        <input type="text" class="form-control" id="chapo" name="chapo" placeholder=
        "Le chapo">
    </div>
    <br>
    <div class="form-group">
        <label for="contenu" >Contenu du post</label>
        <textarea name="contenu" id="contenu"  rows="8" class="form-control">
        </textarea>
    </div>
    <br>
        <div class="form-group">
        <label for="creation" >creation</label>
        <input type="dateTime" class="form-control" id="creationTime" name="creationTime" placeholder=
        "creationTime">
    </div>
    <br>
    <div class="form-group">
        <label for="updateTime" >date</label>
        <input type="DateTime" class="form-control" id="updateTime" name="updateTime" placeholder=
        "updateTime">
    </div>
    <br>
    <div class="form-group">
        <label for="iduser" >iduser</label>
        <input type="text" class="form-control" id="iduser" name="iduser" placeholder=
        "iduser">
    </div>
    <br>
    <br><br>
    <button type="submit" name="submit" class="btn btn-primary">Enregistrer</button>
</form>
</div>

{% endblock %}